# Project 9: Web Scraping, APIs & Wrappers (US Stocks)

## Web Scraping - the Dow Jones Constituents

In [1]:
import pandas as pd

In [2]:
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 135 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNASDAQ
 4                                               ^DJI
 5                                                 30
 6                                          Large cap
 7                      $8.33 trillion (Dec. 2019)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange     Symbol  \
 0                 3M Company     NYSE  NYSE: MMM
 1           American Express     NYSE  NYSE: AXP
 2                      Amgen   NASDAQ       AMGN
 3                 Apple Inc.   NASDAQ       AAPL
 4                     Boeing     NYSE   NYSE: BA
 5           Caterpillar Inc.     NYSE  NYSE: CAT
 6        Chevron Corporation     NYSE  NYSE: CVX
 7              Cisco Systems   NASDAQ       CSCO
 8      The Coca-Cola Company     NYSE   NYSE: KO
 9                   Dow Inc.     NYSE  NYSE: DOW
 10             Goldman Sachs     NYSE   NYSE: GS
 11            The Home Depot     NYSE   NYSE: HD
 12                 Honeywell     NYSE  NYSE: HON
 13                       IBM     NYSE  NYSE: IBM
 14                     Intel   NASDAQ       INTC
 15         Johnson & Johnson     NYSE  NYSE: JNJ
 16            JPMorgan Chase     NYSE  NYSE: JPM
 17                McDonald's     NYSE  NYSE: MCD
 18               Merck & Co.     NYSE  NYSE: MRK
 19                 Microsoft   NASDAQ       MSFT
 20                      Nike     NYSE  NYSE: NKE
 21          Procter & Gamble     NYSE   NYSE: PG
 22                Salesforce     NYSE  NYSE: CRM
 23   The Travelers Companies     NYSE  NYSE: TRV
 24        UnitedHealth Group     NYSE  NYSE: UNH
 25                   Verizon     NYSE   NYSE: VZ
 26                 Visa Inc.     NYSE    NYSE: V
 27  Walgreens Boots Alliance   NASDAQ        WBA
 28                   Walmart     NYSE  NYSE: WMT
 29   The Walt Disney Company     NYSE  NYSE: DIS

                           Industry  Date added  \
 0                     Conglomerate  1976-08-09
 1               Financial services  1982-08-30
 2          Pharmaceutical industry  2020-08-31
 3           Information technology  2015-03-19
 4            Aerospace and defense  1987-03-12
 5          Construction and Mining  1991-05-06
 6               Petroleum industry  2008-02-19
 7           Information technology  2009-06-08
 8                    Food industry  1987-03-12
 9                Chemical industry  2019-04-02
 10              Financial services  2013-09-20
 11                       Retailing  1999-11-01
 12                    Conglomerate  2020-08-31
 13          Information technology  1979-06-29
 14          Information technology  1999-11-01
 15         Pharmaceutical industry  1997-03-17
 16              Financial services  1991-05-06
 17                   Food industry  1985-10-30
 18         Pharmaceutical industry  1979-06-29
 19          Information technology  1999-11-01
 20                         Apparel  2013-09-20
 21      Fast-moving consumer goods  1932-05-26
 22          Information technology  2020-08-31
 23              Financial services  2009-06-08
 24             Managed health care  2012-09-24
 25               Telecommunication  2004-04-08
 26              Financial services  2013-09-20
 27                       Retailing  2018-06-26
 28                       Retailing  1997-03-17
 29  Broadcasting and entertainment  1991-05-06

                                     Notes  \
 0   As Minnesota Mining and Manufacturing
 1                                     NaN
 2                                     NaN
 3                                     NaN
 4                                     NaN
 5                                     NaN
 6           Also 1930-07-18 to 1999-11-01
 7                                     NaN
 8           Also 1932-05-26 to 1935-11-20
 9                                     NaN
 10                                    NaN
 11                                    NaN
 12                                    NaN
 13          Also 1932-05-26 to 1939-03-04
 14                                    NaN
 15                                    NaN
 16                                    NaN
 17                                    NaN
 18                                    NaN
 19                                    NaN
 20                                    NaN
 21                                    NaN
 22                                    NaN
 23                                    NaN
 24                                    NaN
 25                                    NaN
 26                                    NaN
 27                                    NaN
 28                                    NaN
 29                                    NaN

    Index weighting(as of September 1, 2020
 0                                    3.80%
 1                                    2.35%
 2                                    5.81%
 3                                    2.87%
 4                                    4.04%
 5                                    3.30%
 6                                    1.97%
 7                                    0.97%
 8                                    1.14%
 9                                    1.06%
 10                                   4.77%
 11                                   6.57%
 12                                   3.87%
 13                                   2.87%
 14                                   1.16%
 15                                   3.53%
 16                                   2.36%
 17                                   4.93%
 18                                   1.97%
 19                                   5.26%
 20                                   2.58%
 21                                   3.19%
 22                                   6.23%
 23                                   2.66%
 24                                   7.22%
 25                                   1.36%
 26                                   4.95%
 27                                   0.89%
 28                                   3.22%
 29                                   3.11%  ,
      Year  Closing value Change in points Change in percent
 0    1885          39.29            10.83             38.05
 1    1886          41.03             1.74              4.43
 2    1887          37.58            −3.45             −8.41
 3    1888          39.39             1.81              4.82
 4    1889          41.56             2.17              5.51
 ..    ...            ...              ...               ...
 130  2015       17425.03          −398.04             −2.23
 131  2016       19762.60          2337.57             13.42
 132  2017       24719.22          4956.62             25.08
 133  2018       23327.46        −1,391.76             −5.63
 134  2019       28538.44          5210.98             22.34

 [135 rows x 4 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Dow Jon...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ,
          vteMajor United States stock market indices  \
 0  Dow Jones Industrial Average NYSE Composite NA...

        vteMajor United States stock market indices.1
 0  Dow Jones Industrial Average NYSE Composite NA...  ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                                          Magazines
 27                                              Other
 28                                     Formerholdings
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32  Other assets Move Realtor.com New York Post Ne...
 33                                       Other assets
 34      See also: 21st Century Fox · News Corporation

                                        vteNews Corp.1
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3   Barron's Financial News MarketWatch.com The Wa...
 4                Factiva S&P Dow Jones Indices (2.6%)
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...
 8   William Collins, Sons Collins Bartholomew The ...
 9                                   Angus & Robertson
 10  BibleGateway.com Thomas Nelson Women of Faith ...
 11           Harlequin Enterprises Love Inspired Mira
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14  Metropolitan The Australian The Daily Telegrap...
 15  The Australian The Daily Telegraph (Sydney) He...
 16  Queensland Balonne Beacon Bowen Independent Th...
 17  Balonne Beacon Bowen Independent The Cairns Po...
 18  The Coffs Coast Advocate The Daily Examiner Ge...
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21  Manly Daily North Shore Times Northern Distric...
 22  News Review Leader Standard Eastern Courier Ea...
 23                      South-West News Southern Star
 24                        Leader Community Newspapers
 25  Sky News Live Sky News Extra Sky News Weather ...
 26            Big League GQ Australia Vogue Australia
 27  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 28  Australian Associated Press (47%) ADS (Adelaid...
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32  Other assets Move Realtor.com New York Post Ne...
 33  Move Realtor.com New York Post News America Ma...
 34      See also: 21st Century Fox · News Corporation  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News MarketWatch.com The Wa...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                                          Magazines
 13                                              Other
 14                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian The Daily Telegrap...
 1   The Australian The Daily Telegraph (Sydney) He...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  Sky News Live Sky News Extra Sky News Weather ...
 12            Big League GQ Australia Vogue Australia
 13  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 14  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian The Daily Telegraph (Sydney) He...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)

In [3]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]

In [4]:
const

,Company,Exchange,Symbol,Industry,Date added,Notes,"Index weighting(as of September 1, 2020"
0,3M Company,NYSE,NYSE: MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.80%
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30,NaN,2.35%
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31,NaN,5.81%
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.87%
4,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12,NaN,4.04%
5,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06,NaN,3.30%
6,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,1.97%
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.97%
8,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.14%
9,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02,NaN,1.06%
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20,NaN,4.77%
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01,NaN,6.57%
12,Honeywell,NYSE,NYSE: HON,Conglomerate,2020-08-31,NaN,3.87%
13,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.87%
14,Intel,NASDAQ,INTC,Information technology,1999-11-01,NaN,1.16%
15,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17,NaN,3.53%
16,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06,NaN,2.36%
17,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30,NaN,4.93%
18,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29,NaN,1.97%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.26%
20,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20,NaN,2.58%
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26,NaN,3.19%
22,Salesforce,NYSE,NYSE: CRM,Information technology,2020-08-31,NaN,6.23%
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08,NaN,2.66%
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24,NaN,7.22%
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08,NaN,1.36%
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20,NaN,4.95%
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.89%
28,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17,NaN,3.22%
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06,NaN,3.11%

In [5]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M Company,NYSE,NYSE: MMM,Conglomerate,1976-08-09
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12
5,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06
6,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08
8,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12
9,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01
12,Honeywell,NYSE,NYSE: HON,Conglomerate,2020-08-31
13,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29
14,Intel,NASDAQ,INTC,Information technology,1999-11-01
15,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17
16,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06
17,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30
18,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
20,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26
22,Salesforce,NYSE,NYSE: CRM,Information technology,2020-08-31
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
28,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06

In [6]:
const.rename(columns = {"Date added":"Date_Added"}, inplace = True)

In [7]:
const.Date_Added = pd.to_datetime(const.Date_Added)

In [8]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 784.0+ bytes

## Normalizing Unicode Strings and Getting the Ticker Symbols

In [9]:
import unicodedata

In [10]:
const.Symbol[0]

'NYSE:\xa0MMM'

In [11]:
const.Symbol.to_list()

['NYSE:\xa0MMM',
 'NYSE:\xa0AXP',
 'AMGN',
 'AAPL',
 'NYSE:\xa0BA',
 'NYSE:\xa0CAT',
 'NYSE:\xa0CVX',
 'CSCO',
 'NYSE:\xa0KO',
 'NYSE:\xa0DOW',
 'NYSE:\xa0GS',
 'NYSE:\xa0HD',
 'NYSE:\xa0HON',
 'NYSE:\xa0IBM',
 'INTC',
 'NYSE:\xa0JNJ',
 'NYSE:\xa0JPM',
 'NYSE:\xa0MCD',
 'NYSE:\xa0MRK',
 'MSFT',
 'NYSE:\xa0NKE',
 'NYSE:\xa0PG',
 'NYSE:\xa0CRM',
 'NYSE:\xa0TRV',
 'NYSE:\xa0UNH',
 'NYSE:\xa0VZ',
 'NYSE:\xa0V',
 'WBA',
 'NYSE:\xa0WMT',
 'NYSE:\xa0DIS']

In [12]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 784.0+ bytes

In [13]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))
#NFKD-  normalalization form compatibility decomposition

0     NYSE: MMM
1     NYSE: AXP
2          AMGN
3          AAPL
4      NYSE: BA
5     NYSE: CAT
6     NYSE: CVX
7          CSCO
8      NYSE: KO
9     NYSE: DOW
10     NYSE: GS
11     NYSE: HD
12    NYSE: HON
13    NYSE: IBM
14         INTC
15    NYSE: JNJ
16    NYSE: JPM
17    NYSE: MCD
18    NYSE: MRK
19         MSFT
20    NYSE: NKE
21     NYSE: PG
22    NYSE: CRM
23    NYSE: TRV
24    NYSE: UNH
25     NYSE: VZ
26      NYSE: V
27          WBA
28    NYSE: WMT
29    NYSE: DIS
Name: Symbol, dtype: object

In [14]:
#overwrite symbol column
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [15]:
const.Symbol[0]

'NYSE: MMM'

In [16]:
#create additional column ticker
#for eg. NYSE: MMM, so ticker symbol here is MMM
#split would return list with two elements 
#x[-1] is to get the lasst element which is the ticker symbol
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [17]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M Company,NYSE,NYSE: MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31,AMGN
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
4,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12,BA
5,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06,CAT
6,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19,CVX
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
8,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12,KO
9,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02,DOW
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20,GS
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01,HD
12,Honeywell,NYSE,NYSE: HON,Conglomerate,2020-08-31,HON
13,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29,IBM
14,Intel,NASDAQ,INTC,Information technology,1999-11-01,INTC
15,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17,JNJ
16,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06,JPM
17,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30,MCD
18,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29,MRK
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
20,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20,NKE
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26,PG
22,Salesforce,NYSE,NYSE: CRM,Information technology,2020-08-31,CRM
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08,TRV
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24,UNH
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08,VZ
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20,V
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
28,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17,WMT
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06,DIS

In [18]:
ticker_list = const.Ticker.to_list()

In [19]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT',
 'DIS']

In [20]:
const.to_csv("const.csv", index = False)

## Loading and Saving Historical Stock Prices

In [21]:
import pandas as pd
import yfinance as yf

In [22]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT',
 'DIS']

In [23]:
prices = yf.download(ticker_list, start = "2007-01-01", end = "2020-03-31")

[*********************100%***********************]  30 of 30 completed

In [24]:
prices

            Adj Close                                                 \
                 AAPL        AMGN        AXP          BA         CAT
Date
2007-01-03   2.581791   54.528778  48.150829   63.912048   40.550556
2007-01-04   2.639096   56.864563  47.799816   64.170052   40.444458
2007-01-05   2.620302   57.000088  47.169640   63.897701   39.927303
2007-01-08   2.633242   56.545704  47.616348   63.747196   39.973709
2007-01-09   2.851985   56.816730  47.313210   63.073460   40.192509
...               ...         ...        ...         ...         ...
2020-03-24  61.336773  198.295319  82.862061  127.680000   99.066505
2020-03-25  60.998886  189.279221  88.895561  158.729996  102.321800
2020-03-26  64.208832  194.522293  91.971466  180.550003  108.021011
2020-03-27  61.550438  194.306686  87.475922  162.000000  103.074524
2020-03-30  63.306961  204.312592  88.994148  152.279999  109.203857

                                                                     ...  \
                   CRM       CSCO        CVX         DIS        DOW  ...
Date                                                                 ...
2007-01-03    9.017500  20.905556  42.041698   28.317101        NaN  ...
2007-01-04    9.470000  21.455891  41.632954   28.540649        NaN  ...
2007-01-05    9.880000  21.463434  41.792900   28.308815        NaN  ...
2007-01-08    9.982500  21.584061  42.326057   28.565489        NaN  ...
2007-01-09    9.990000  21.463434  41.840282   28.524090        NaN  ...
...                ...        ...        ...         ...        ...  ...
2020-03-24  153.639999  37.591869  63.717472   98.120003  27.203680  ...
2020-03-25  147.059998  36.686157  66.321686  100.730003  29.028727  ...
2020-03-26  154.729996  39.520157  73.129066  105.360001  28.359863  ...
2020-03-27  146.000000  37.806122  65.852547   96.400002  27.289679  ...
2020-03-30  149.850006  39.266945  68.887627   99.800003  27.375675  ...

                Volume                                                 \
                   MRK        MSFT         NKE          PG        TRV
Date
2007-01-03  15019300.0  76935100.0  17299200.0   9717900.0  3432800.0
2007-01-04  12515200.0  45774500.0  15085600.0   8711400.0  2068200.0
2007-01-05  10656900.0  44607200.0  14996800.0   9907900.0  2104600.0
2007-01-08   7046300.0  50220200.0  10109600.0  11068200.0  2440900.0
2007-01-09   8623200.0  44636600.0  15167200.0  10823800.0  1319500.0
...                ...         ...         ...         ...        ...
2020-03-24  18990400.0  82516700.0  18849500.0  14625500.0  4293300.0
2020-03-25  17472800.0  75638200.0  27053200.0  13789100.0  4151400.0
2020-03-26  17226000.0  64568100.0  17200800.0  15796000.0  4610600.0
2020-03-27  11896200.0  57042300.0  14183400.0  16073100.0  3085400.0
2020-03-30  15079500.0  63420300.0  10960100.0  14571600.0  2733700.0


                   UNH           V          VZ         WBA         WMT
Date
2007-01-03   8360300.0         NaN  21445800.0   6294500.0  35687300.0
2007-01-04   5152500.0         NaN  19215800.0   3681800.0  17073000.0
2007-01-05   6215700.0         NaN  19047000.0   3680900.0  13556900.0
2007-01-08   4344100.0         NaN  20370800.0   4720800.0  16396400.0
2007-01-09   5483900.0         NaN  16281300.0   3792500.0  14643200.0
...                ...         ...         ...         ...         ...
2020-03-24   8894400.0  24488300.0  40626900.0   9638400.0  14235000.0
2020-03-25  10014000.0  20619600.0  38551300.0  11040500.0  17762500.0
2020-03-26   7517600.0  17062900.0  32610900.0  11095700.0  19416900.0
2020-03-27   4879500.0  14950700.0  25363600.0   5898000.0  12053500.0
2020-03-30   5329000.0  15714500.0  20660200.0   7114900.0   9737500.0

[3334 rows x 180 columns]

In [25]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3334 entries, 2007-01-03 to 2020-03-30
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(180)
memory usage: 4.6 MB

In [26]:
prices = prices.loc[:,"Close"].copy() #taking in consideration only daily close prices

In [27]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3334 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AMGN    3333 non-null   float64
 2   AXP     3333 non-null   float64
 3   BA      3333 non-null   float64
 4   CAT     3333 non-null   float64
 5   CRM     3333 non-null   float64
 6   CSCO    3333 non-null   float64
 7   CVX     3333 non-null   float64
 8   DIS     3333 non-null   float64
 9   DOW     260 non-null    float64
 10  GS      3333 non-null   float64
 11  HD      3333 non-null   float64
 12  HON     3333 non-null   float64
 13  IBM     3333 non-null   float64
 14  INTC    3333 non-null   float64
 15  JNJ     3333 non-null   float64
 16  JPM     3333 non-null   float64
 17  KO      3333 non-null   float64
 18  MCD     3333 non-null   float64
 19  MMM     3333 non-null   float64
 20  MRK     3333 non-null   float64
 21  MSFT    3333 non-null   float64
 22  NKE     3333 non-null   float64
 23  PG      3333 non-null   float64
 24  TRV     3333 non-null   float64
 25  UNH     3333 non-null   float64
 26  V       3029 non-null   float64
 27  VZ      3333 non-null   float64
 28  WBA     3333 non-null   float64
 29  WMT     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.5 KB

In [28]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,NaN,...,44.020000,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,46.070000,47.549999
2007-01-04,3.059286,71.330002,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,NaN,...,45.110001,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,46.160000,47.779999
2007-01-05,3.037500,71.500000,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,NaN,...,44.299999,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,45.500000,47.389999
2007-01-08,3.052500,70.930000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,NaN,...,44.290001,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,45.689999,47.000000
2007-01-09,3.306072,71.269997,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,NaN,...,43.880001,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,45.930000,47.389999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,61.720001,202.339996,84.050003,127.680000,101.339996,153.639999,38.599998,66.550003,98.120003,28.469999,...,69.050003,148.339996,72.330002,103.269997,93.739998,219.800003,154.529999,49.990002,45.250000,115.029999
2020-03-25,61.380001,193.139999,90.169998,158.729996,104.669998,147.059998,37.669998,69.269997,100.730003,30.379999,...,68.220001,146.919998,79.010002,100.919998,92.180000,234.490005,161.779999,49.939999,41.439999,109.400002
2020-03-26,64.610001,198.490005,93.290001,180.550003,110.500000,154.729996,40.580002,76.379997,105.360001,29.680000,...,73.529999,156.110001,84.300003,107.379997,98.669998,255.389999,168.880005,53.540001,45.669998,109.820000
2020-03-27,61.935001,198.270004,88.730003,162.000000,105.440002,146.000000,38.820000,68.779999,96.400002,28.559999,...,71.730003,149.699997,83.230003,110.169998,99.949997,242.449997,161.559998,52.770000,44.000000,109.580002
2020-03-30,63.702499,208.479996,90.269997,152.279999,111.709999,149.850006,40.320000,71.949997,99.800003,28.650000,...,76.949997,160.229996,85.379997,115.000000,102.589996,251.279999,165.570007,54.770000,45.160000,115.190002

In [29]:
prices.to_csv("const_prices.csv")

In [30]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-03-31")

[*********************100%***********************]  1 of 1 completed

In [31]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,799340000
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,796320000
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,705180000
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,588830000
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,545540000

In [32]:
dji.to_csv("dji.csv")

In [33]:
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3333 non-null   float64
 1   High       3333 non-null   float64
 2   Low        3333 non-null   float64
 3   Close      3333 non-null   float64
 4   Adj Close  3333 non-null   float64
 5   Volume     3333 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 182.3 KB